body {
	margin: 3%;
}

.grid{
	display: grid;
	grid-template-columns: 20% 80%
}

.board {
	padding: 2%
	height: 600px;
	width: 600px;
}
.cell {
	display: table-cell;
	height: 200px;
	width: 200px;
	border: 1px solid black;
	text-align: center;
}
.row {
	display: table-row;
	height: 62px;
	width: 200px;
}
.X {
	background: url(../img/X_lg.png) center center no-repeat;
	background-size: 50%;
}
.O {
	background: url(../img/O.jpg) center center no-repeat;
	background-size: 50%;
}

.new {
	display: block;
	margin: 2%;
}

.move {
	display: block;
	margin: 2%;
}