.board {
	padding: 2%
	height: 300px;
	width: 300px;
}
.cell {
	display: table-cell;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	text-align: center;
}
.row {
	display: table-row;
	height: 62px;
	width: 200px;
}
.X {
	background: url(../img/X.png) center center no-repeat;
}
.O {
	background: url(../img/O.png) center center no-repeat;
}